* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	font-family: 'Noto Serif KR', serif;
}

.button {
	display: flex;
	justify-content: right;
	align-items: baseline;
}

.go {
	padding: 10px;
	margin: 5px;
	background-color: rgba(214, 214, 214, 0.2);
	border: none;
	cursor: pointer;
	color: #795548;
	font-size: 15px;
	outline: none;
}

.go:hover {
	color: white;
}

.btn-div {
	background-color: #ffe0b2;
	text-align: center;
}

.logo {
	display: block;
	background-color: #ffe0b2;
	text-align: center;
	padding: 10px 0;
}

.logo>img {
	cursor: pointer;
}

.main-img {
	display: block;
	padding-top: 50px;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	cursor: pointer;
}

.header-list {
	text-align: center;
	height: 40px;
	background-color: #fff8e1;
}

.header-list li {
	display: inline-block;
	margin: 0 60px;
	line-height: 40px;
	color: #bcaaa4;
	cursor: pointer;
	font-size: 20px;
}

.header-list li:hover {
	color: #795548;
}

#login {
	align-items: right;
	padding: 5px;
}

.book {
	justify-content: center;
	display: flex;
	flex-wrap: nowrap;
}

.call, .online, .online-check {
	background-color: #fff3e0;
	border: none;
	font-size: 20px;
	font-weight: 800;
	padding: 10px;
	width: 250px;
	margin: 25px;
	text-align: center;
}

#inner {
	font-size: 15px;
	color: gray;
}

#inner2 {
	color: #795548;
	font-size: 18px;
}

.btn_book, .btn_check {
	outline: none;
	margin-top: 25px;
	padding: 10px;
	border: none;
	background-color: #d7ccc8;
	color: #a1887f;
	font-weight: bold;
}

.btn_book:hover, .btn_check:hover {
	cursor: pointer;
	color: #795548;
	font-weight: 800;
}

footer {
	background-color: #eeeeee;
	height: 100px;
	padding: 15px;
}

.ny {
	width: 150px;
	float: right;
	padding-right: 5px;
	font-size: 13px;
}

/*book.jsp */
.note {
	width: 330px;
	padding: 10px;
	text-align: center;
	margin: 40px auto 10px auto;
	border: 2px dashed #eeeeee;
}

.booktbl-div {
	height: 600px;
	justify-content: center;
	padding-top: 80px;
	display: flex;
	background-image: url("img/bookingwall2.jpg");
	background-size: 1000px auto;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	background-repeat: no-repeat;
}

.booktbl {
	justify-content: center;
	height: 400px;
	display: flex;
	padding-top: 30px;
	width: 500px;
	background-color: rgba(214, 214, 214, 0.32);
}

.booktbl td, tr {
	padding: 10px;
	font-size: 20px;
}

input {
	height: 30px;
	border: none;
	outline: none;
}

.book-done {
	padding: 10px;
	border: 1px solid #dedede;
	background-color: #dedede;
	color: #a1887f;
	font-size: 20px;
}

.book-done:hover {
	cursor: pointer;
	color: #795548;
	font-weight: 600;
}
/*book_check*/
.bookctbl-div {
	margin-top: 40px;
	height: 600px;
	justify-content: center;
	padding-top: 80px;
	display: flex;
	background-image: url("img/drink.jpg");
	background-size: 1000px auto;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	background-repeat: no-repeat;
}
/*about */
.title {
	margin-top: 50px;
	text-align: center;
	margin-bottom: 50px;
	color: #795548;
	font-weight: 800;
}

.story-div {
	height: auto;
	padding: 10px 60px;
	margin: 40px;
	background-color: #f1f8e9;
}

.abouti {
	width: 40%;
	margin: 40px auto;
	display: block;
	display: block;
}

.imgs-div {
	padding: 30px;
	background-color: #fff3e0;
	margin: 40px 80px;
}

.imgs-div>img {
	width: 100%;
	text-align: center;
	margin: 20px auto;
	position: relative;
}

.imgs-div>img:hover {
	cursor: pointer;
}
/*location */
.loc-title {
	margin-top: 40px;
	text-align: center;
	font-size: 25px;
	font-weight: 800;
	color: #795548;
}

.loc-title>span, .loc-time>span {
	border-bottom: 2px solid #795548;
}

.addr {
	margin: 40px auto;
	padding: 10px;
	width: 350px;
	height: 100px;
	text-align: center;
	background-color: rgba(214, 214, 214, 0.32);
	font-size: 19px;
}

.line {
	height: 20px;
	border-bottom: 3px dashed rgba(214, 214, 214, 0.32);
	margin: auto 20px;
}

.bottom {
	margin: 20px;
}

.loc-table {
	margin: 40px auto;
	width: 800px;
	height: 200px;
	background-color: rgba(214, 214, 214, 0.32);
	font-size: 20px;
}

.loc-time {
	text-align: center;
	font-size: 25px;
	font-weight: 800;
	color: #795548;
	margin-top: 60px;
}

.loc-table td, tr {
	padding: 20px;
}

/*writeReview.jsp */
.tbl-review {
	margin: 70px auto;
	padding: 20px;
	width: auto;
	font-size: 20px;
	background-color: rgba(214, 214, 214, 0.32);
}

.tbl-review td, tr {
	padding: 15px;
}

.tbl-review input {
	width: 400px;
	height: 40px;
	padding: 5px;
}

.td-btn {
	text-align: center;
}

.done {
	padding: 10px;
	border: 1px solid #dedede;
	background-color: #dedede;
	color: #a1887f;
	font-size: 20px;
	width: 150px;
}

.done:hover {
	cursor: pointer;
	color: #a1887f;
}

.txtarea {
	resize: none;
	width: 400px;
	height: 300px;
	padding: 5px;
}
/*review.jsp */
.rv-title {
	margin: 40px auto;
	color: #a1887f;
	text-align : center;
	font-size: 1.7em;
	text-align: center;
}

.rv-tbl {
	margin:80px auto;
	text-align: center;
	width: 800px;
	border-collapse: collapse;
}

.rv-tbl td, tr {
	border: 2px solid rgba(214, 214, 214, 0.7);
	padding: 5px;
}

.btns-div {
	text-align: center;
	
}

.btns-div button{
	padding: 10px 15px;
	margin:150px 10px 40px;
	font-size:1.2em;
	background-color:lightyellow;
	border:1px dashed gray;
	border-radius:0.5em;
	outline:none;
	cursor:pointer;
	
}

.row0 {
	background-color: #fff8e1;
}

.go-write {
	display: flex;
	justify-content: center;
	margin-bottom: 60px;
	color: gray;
	
}

.go-write:hover {
	
	color: #a1887f;
	cursor: pointer;
}

/*seereview.jsp */

.tbl-reviewSee{
	margin: 70px auto;
	padding: 20px;
	width: 600px;
	font-size: 20px;
	background-color: rgba(214, 214, 214, 0.32);
	border: 1rem solid rgba(214, 214, 214, 0.7);
	
}
.tbl-reviewSee td, tr{
	padding:10px;
	
}
.tbl-reviewSee td:nth-child(1){
	width:100px;
}
.tbl-reviewSee td:nth-child(2){
	background-color:#fff;
}

.btn-prev{
	margin-top:40px;
	font-size: 20px;
	padding:10px 15px;
	border-radius: 1rem;
	border: 1px solid #795548;
	background-color:#fff8e1;
	color: #a1887f;
}
.btn-prev:hover{
	color: #795548;
	cursor: pointer;
}
